{% extends "bootstrap/base.html" %}  <!-- Extend the base Bootstrap template -->

{% block content %}
{% include 'navbar.html' %}  <!-- Include the navigation bar -->

<div class="container mt-5">
    <h1 class="mb-4">File List</h1>  <!-- Heading for the file list page -->
    <table class="table table-striped">  <!-- Table to display files with "striped table" style -->
        <thead>
            <tr>
                <th scope="col">File Name</th>  <!-- Column header for file names -->
                <th scope="col">Creation Date and Time</th>  <!-- Column header for file creation date and time -->
                <th scope="col">Actions</th>  <!-- Column header for actions -->
            </tr>
        </thead>
        <tbody>
            {% for file in files %}  <!-- Loop through all files -->
            <tr>
                <td>{{ file.name }}</td>  <!-- Display file name -->
                <td>{{ file.creation_time }}</td>  <!-- Display file creation date and time -->
                <td>
                    <a href="{{ url_for('download_cert', filename=file.name) }}" class="btn btn-primary">Download</a>  <!-- Link to download the file -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="history.back()">Go Back</button>  <!-- Button to return to the previous page -->
</div>
{% endblock %}