{% extends "bootstrap/base.html" %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mt-5">
    <h1 class="mb-4">Список файлів</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Імʼя файлу</th>
                <th scope="col">Дата и час створення</th>
                <th scope="col">Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.name }}</td>
                <td>{{ file.creation_time }}</td>
                <td>
                    <a href="{{ url_for('download_file', filename=file.name) }}" class="btn btn-primary">Скачати</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="history.back()">Назад</button>
</div>
{% endblock %}