<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo or site name -->
    <a class="navbar-brand" href="/">Registry</a>
    <!-- Button for toggling the navigation panel on mobile devices -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Main navigation block that shows or hides when the button is clicked -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- Menu item for search, active when current page is "index" -->
            <li class="nav-item {% if current_page == 'index' %}active{% endif %}">
                <a class="nav-link" href="/">Search<span class="sr-only">(current)</span></a>
            </li>
            <!-- Menu item for creating a record, active when current page is "create" -->
            <li class="nav-item {% if current_page == 'create' %}active{% endif %}">
                <a class="nav-link" href="/create">Create Record</a>
            </li>
            <!-- Menu item for ASIC containers page, active when current page is "files" -->
            <li class="nav-item {% if current_page == 'files' %}active{% endif %}">
                <a class="nav-link" href="/files">ASIC Containers Page</a>
            </li>
            <!-- Menu item for certificates page, active when current page is "certs" -->
            <li class="nav-item {% if current_page == 'certs' %}active{% endif %}">
                <a class="nav-link" href="/certs">Certificates</a>
            </li>
        </ul>
    </div>
</nav>