<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Реєстр</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item {% if current_page == 'index' %}active{% endif %}">
                <a class="nav-link" href="/">Пошук<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if current_page == 'create' %}active{% endif %}">
                <a class="nav-link" href="/create">Створення запису</a>
            </li>
            <li class="nav-item {% if current_page == 'files' %}active{% endif %}">
                <a class="nav-link" href="/files">Сторінка ASIC контейнерів</a>
            </li>
        </ul>
    </div>
</nav>