{% extends "bootstrap/base.html" %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mt-5">
    <h2>Пошук у БД</h2>
    <form method="POST" action="/">
        <div class="form-group">
            <label for="search-field">Выберите поле для поиска</label>
            <select class="form-control" id="search-field" name="search_field" required>
                <option value="name">Имя</option>
                <option value="surname">Фамилия</option>
                <option value="patronymic">Отчество</option>
                <option value="dob">Дата рождения</option>
                <option value="passportNumber">Номер паспорта</option>
                <option value="unzr">УНЗР</option>
                <option value="rnokpp">РНОКРР</option>
            </select>
        </div>
        <div class="form-group">
            <label for="search-value">Значение для поиска</label>
            <input type="text" class="form-control" id="search-value" name="search_value" required>
        </div>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>
</div>
{% endblock %}